__pycache__/
tests/__pycache__
automaton_engine/__pycache__
automaton_engine/actions/__pycache__ 
.cache
.DS_Store
launch.sh
build.sh
service.log
arch
build
dist
site
htmlcov
*.egg-info
.tests
automaton.sublime-*
bin/launch
launch
launch-orders
launch-security
launch-ops
openshift
*.code-workspace
.pytest_cache
.eggs
.vscode
.coverage
